 /*
		__  _______ ____      ____  ___   _____ ______
	   / / / / ___// __ \    / __ )/   | / ___// ____/
	  / / / /\__ \/ / / /   / __  / /| | \__ \/ __/
	 / /_/ /___/ / /_/ /   / /_/ / ___ |___/ / /___
	 \____//____/\___\_\  /_____/_/  |_/____/_____/

		_____________  ____    ___________
	   / ___/_  __/\ \/ / /   / ____/ ___/
	   \__ \ / /    \  / /   / __/  \__ \
	  ___/ // /     / / /___/ /___ ___/ /
	 /____//_/     /_/_____/_____//____/
*/






html,body{
	background:#fff;
	color: #000;
	font: 15px 'lato', Verdana, sans-serif;
	/* height:100%; */
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 30px;
}






/*UI*/

.ida_accessibilityPanel {
	text-align: center;
	position: absolute;
	top: 5px;
	right: 5px;
	margin: auto;
	/* left: 0; */
	height: auto;
	width: 269px;
	border: 1px solid #CACACA;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

footer{
	/* display:none; */
	/* position: absolute; */
	bottom: 10px;
	left:0;
	right:0;
	max-width:600px;
	margin: auto;

}

.ignore{
	/* position:relative; */
}

.tooltipError, .tooltipSuccess{
	right: -139px;
	top: 25px;
	width: 150px;
}

.tooltipError .tooltip-inner{
	background: #FF4949;

}
.tooltipError .tooltip-arrow{
	border-right-color: #FF4949 !important;
}


.tooltipSuccess .tooltip-inner{
	color:#444;
	background: #ADFF49;

}
.tooltipSuccess .tooltip-arrow{
	border-right-color: #ADFF49 !important;
}

.dotted {
	background: url('../img/assets/dottedBG.svg');
	background-size: contain;
	background-position: 1px 13px;
	background-repeat: no-repeat;
}




#toDrag {
	color: initial !important;

}

#toDrag:hover {
	color: initial !important;
	text-decoration:none;
}

*[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}






/*UI*/

.ida_wrapper{
	margin-top: 75px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: auto;
	max-width: 800px;
}

.ida_panel{
 	border: 2px solid #eee;


 	width: 739px;
 	margin-top: 100px;
 	margin-bottom: 30px;
}

.ida_questionHolder{
	padding: 7px;
	width: 262px;
	border-top: 2px #eee dotted;
}


.ida_answer{
	cursor: pointer;
	text-align: center;
	width: 235px;
	display:inline-block;
	vertical-align: top;
	padding: 10px;
	height: 51px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-size: 14px;
	text-decoration: none !important;
	color: #000 !important;
}

.ida_answerHolder {
	border-top: #EEE solid 2px;
	height: 72px;
}

.ida_indicator {
	width: 134px;
	text-align: center;
}


.ida_indicator img {
	width: 50px;
	height: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ida_answerSlots {
	border-top: dotted 2px #EEE;
	height: 126px;
	position: relative;
}

.ida_answerSlots .ida_answer {
	text-overflow: initial;
	white-space: normal;
	height: auto;
	width: auto;
	text-align: left;
}

.ida_answerSlots {

}


.dropdown-menu>li>a {
    cursor: pointer;
}

.tooltip.right {
    top: 0;
    margin-top: 0;
    height: 102px;
    bottom: 0;
    margin: auto;
}