 /*
		__  _______ ____      ____  ___   _____ ______
	   / / / / ___// __ \    / __ )/   | / ___// ____/
	  / / / /\__ \/ / / /   / __  / /| | \__ \/ __/
	 / /_/ /___/ / /_/ /   / /_/ / ___ |___/ / /___
	 \____//____/\___\_\  /_____/_/  |_/____/_____/

		_____________  ____    ___________
	   / ___/_  __/\ \/ / /   / ____/ ___/
	   \__ \ / /    \  / /   / __/  \__ \
	  ___/ // /     / / /___/ /___ ___/ /
	 /____//_/     /_/_____/_____//____/
*/






html,body{
	color: #000;
	font: 16px Arial, Verdana, sans-serif !important;
}


*{
		font: 16px Verdana, sans-serif !important;
}












/*UI*/

.ida_accessibilityPanel{
	width:329px;
}

.ida_wrapper{

}
